body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 30px;
}

* {
    font-family: "Inter", sans-serif;
}
  #i{
    margin-left: 220px;
    width:411px;
    font-size:85%;
    height:58px;
    border-radius: 10px;
  }
  #i:hover {
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}
